---
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content';
import Content2 from '../components/2Content';

---

<Layout title="Welcome to Astro.">
	<div>
		
       <Content client:load title="client:load"  description="这个会因为水合有问题闪烁"/>

	
	   <Content2 client:visible  title="client:visible"/>
	</div>
</Layout>

<style>
	*{
		padding: 0;
		margin: 0;
	}

</style>
