body {
  background-color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.text {
  color: rgb(255 193 7);
}
img {
  width: 300px;
  height: auto;
}
